@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;700&display=swap');

/*prostředí*/
body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(47, 47, 68);
  color: rgb(153, 153, 197);
}

h1, h2, h3 { 
   color: rgb(202, 202, 226); font-family: 'Nunito', sans-serif;
}




/*navigace*/
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    background-color: rgb(82, 95, 46);
    font-size: 200%;
    text-decoration: none;
    position: static;
    top: 0;
    z-index: 1;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    right: 100px;
}

nav ul {
    display: flex;
    height: 15px;
    margin: 20px;
    padding: 0;
}

li > a {
    text-decoration: none;
    font-size: 50px;
    color:  rgb(191, 197, 153);
    transition: all 0.5s ease;
}
  
li > a:hover {
    font-size: 50px;
    color: rgb(191, 197, 153);
    transform: scale(1);
}

li {
    display: inline-block;
    padding-left: 60px;
}

header {
    height: 200px;
    font-size: 80px;
}

.obrazek {
    padding-right: 60px;
}




/*container*/
.container {
    width: px;
    margin: auto;
}


section {
    display: flex;
}






/*TM a jíne chráněné značky*/
#footer {
  color:  rgb(202, 202, 226);
  text-align: center;
  }



/*něco čemu nerozumím*/
* {box-sizing: border-box;}

main {
    margin: auto;
    max-width: 700px;
}







/* Responsive styles */
@media only screen and (max-width: 1000px) {
  body {
    font-size: px;
  }

  /* Navigation */
  nav {
    position:inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
  }

  nav li {
    margin-bottom: 10px;
  }

  .logo {
    display: block;
    margin: 100;
    padding: 100px;
    text-align: center;
    flex: 1 1 100%;
  }

  .png {
    width: 1000px;
  }

  .menu {
    display: block;
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    flex: 1 1 100%;
  }

  .menu li:first-child {
    border-top: none;
  }

  /* Sections */
  section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
  }

  * {
    box-sizing: border-box;
  }
  
  #gal {
    display: flex;
  }
  #gal {
    background-color:  rgb(47, 47, 68);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 6px;
  }
  
  .obrazek {
    background-size: cover;
    background-position: center;;
    background-color: #2f2f44;
  }
  
  #z1 {
    background-image: url(./obrazky/zralok1.jpg); 
  
  }
  
  #z2 {
    background-image: url(./obrazky/zralok2.jpg);
    background-position-y: 30%;
  }
  
  #z3 {
    background-image: url(./obrazky/zralok3.jpg);
    background-position: left;
  }
  
  #z4 {
    background-image: url(./obrazky/zralok4.webp);
  }
  
  #z5 {
    background-image: url(./obrazky/zralok5.jpg );
  }
  
  #z6 {
    background-image: url(./obrazky/zralok6.jpg);
  }
  
  @media only screen and (max-width: 780px) {
    .galerie {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 250px);
      
    }
    #z1, #z4 {
      grid-column: 1 / 3;
    }
  } 
}












